body {
    background: #f7f7f7;
    font-family: Verdana;
    max-width: 990px;
    margin: auto;
}

.photo {
    border: 1px solid #505050;
    border-radius: 50px;
    /* width: 100%; colocando em 1005 ele respeita o tamanho do conteiner que for colocado*/
    width: 990px;
    height: 300;
    border-radius: 40px;
}

#tittle, .subtittle, .post_tittle {
    color: #505050;
}

#tittle {
    font-size: 40px;
    text-transform: uppercase;
}

a{
    text-decoration: line-through;
    color: #505050;
}

.post_tittle{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #fff;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
    
}

.post_image{
    margin-bottom: 15px;
    width: 220px;
    height: 220px; 
    border-radius:30px;
}

.contacts_list {
    list-style-type: none;
    padding-left: 15px;
}

.contacts_list li a{
    text-decoration: none;
}